# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.venv/
venv/
ENV/
env/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb_checkpoints/

# PyCharm
.idea/

# VS Code
.vscode/

# Data (keep structure, ignore content)
data/RAW/*
data/processed/*
data/external/*
!data/RAW/.gitkeep
!data/processed/.gitkeep
!data/processed/heatmaps/
!data/processed/heatmaps/**
!data/external/.gitkeep

# Model artifacts
models/
*.pt
*.pth
*.h5
*.pkl
*.pickle

# TensorBoard
runs/
logs/
Les1_modellogs/
modellogs/


# MLflow
mlflow.db
mlruns/
mlartifacts/

# OS
.DS_Store
Thumbs.db

# Coverage
.coverage
htmlcov/
.pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json
